<h1>Printing out</h1>

<h3>Text Setting</h3>
<h2>{{ section.settings.text_setting }}</h2>

<h2>Text Area</h2>

<p>{{ section.settings.textarea_setting | newline_to_br }}</p>

<h2>Rich Text Settings</h2>
<div>{{ section.settings.richtext_setting }}</div>

<h2>Range Settings</h2>
<p>{{ section.settings.ranget_setting }}</p>

<h2>Select Settings</h2>
<p>{{ section.settings.select_setting }}</p>

<h2>checkbox Settings</h2>
{% if section.settings.checkbox_setting == true %}
  <p>True</p>
{% else %}
  <p>false</p>
{% endif %}

<h2>radio Settings</h2>
<p>{{ section.settings.radio_setting }}</p>

<h2>Color Settings</h2>
<p style="color : {{ section.settings.color_setting }}">{{ section.settings.color_setting }}</p>

<div style="background: {{ section.settings.color_background_settings }} ; ">
  <h2>color_background_settings</h2>
  <p>{{ section.settings.color_background_settings }}</p>
</div>

<div>
  <h2>Video Editing</h2>
  {{ section.settings.video_settings | video_tag: controls: true, style: 'height 500px; width: 500px' }}
</div>

{% schema %}
{
  "name": "mySection",
  "tag": "section",
  "class": "page-width rte",
  "settings": [
    {
      "type": "text",
      "id": "text_setting",
      "label": "Theme Setting",
      "default": "this is the default text",
      "info": "placing some more help to merchants",
      "placeholder": "Preview what will u write"
    },
    {
      "type": "textarea",
      "id": "textarea_setting",
      "label": "textarea Setting",
      "default": "Default Text",
      "placeholder": "Preview what will u write"
    },
    {
      "type": "richtext",
      "id": "richtext_setting",
      "label": "richtext Setting"
    },
    {
      "type": "range",
      "id": "ranget_setting",
      "label": "range Setting",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "select_setting",
      "label": "select setting",
      "options": [
        {
          "value": "value--1",
          "label": "value 1"
        },
        {
          "value": "value--2",
          "label": "value 2"
        },
        {
          "value": "value--3",
          "label": "value 3"
        },
        {
          "value": "value--4",
          "label": "value 4"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "checkbox_setting",
      "label": "checkbox Setting",
      "default": false
    },
    {
      "type": "radio",
      "id": "radio_setting",
      "label": "radio Setting",

      "options": [
        {
          "value": "value--1",
          "label": "value 1"
        },
        {
          "value": "value--2",
          "label": "value 2"
        },
        {
          "value": "value--3",
          "label": "value 3"
        },
        {
          "value": "value--4",
          "label": "value 4"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_setting",
      "label": "color_scheme Setting"
    },
    {
      "type": "color_background",
      "label": "color_background_settings",
      "id": "color_background_settings"
    },
    {
      "type": "video",
      "label": "video_settings",
      "id": "video_settings"
    },
    {
      "type": "video_url",
      "label": "video_url_settings",
      "id": "video_url_settings",
      "accept": ["youtube"]
    }
  ],
  "presets": [
    {
      "name": "mySection"
    }
  ]
}
{% endschema %}
